body {
  font-family: Montserrat;
  font-size: 18px;
}

.id-kaset p,
.judul-kaset p {
  margin: 8px !important;
}

.judul-kaset p {
  text-decoration: none;
  line-height: 1.5;
  color: #000;
}

.btn-detail-kaset .btn {
  font-size: 12px !important;
  margin-right: 30px;
}
